@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Raleway:100,600';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300';
html,


body{
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-image: url('https://c4.staticflickr.com/9/8657/28856778435_f49668c275_o.jpg');
}

.whiteText h1 {
    font-size: 6em;

    vertical-align:middle;
    text-align:center;
    color: white;

}

.container-fluid {
  position: relative;
  text-align: center;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hr-grey{
  border-top: 4px solid white;

}

body .highlight{
  color: #e8491d;
  font-weight: bold;
}

#test h1 {

    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}



h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px 0;
  text-transform: none;
  color: rgba(254, 82, 76, 1);
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.5;
}

a:link,
a:active,
a:visited{
  color:rgba(255,255,255,1);
}

a:hover{
  color:rgba(255,255,255,0.6);
}

.gray {
  color: #a5a5a5;
}

.team{
  margin:40px;
}

.team-member {
  margin: 15px 0;
  padding: 0;
}

.team-member figure {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.team-member figure img {
  min-width: 100%;
}

.team-member figcaption p {
  font-size: 16px;
}

.team-member figcaption ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.team-member figcaption ul {
  visibility: visible;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.team-member figcaption ul li {
  display: inline-block;
  padding: 10px;
}

.team-member h4 {
  margin: 10px 0 0;
  padding: 0;
}

.team-member figcaption {
  padding: 50px;
  color: transparent;
  background-color: transparent;
  position: absolute;
  z-index: 996;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.team-member figure:hover figcaption {
  visibility: visible;
  color: #fff;
  background: rgba(230, 78, 62, 0.9);
  /* Primary color, can be changed via colors.css */

  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.team-member figure:hover figcaption ul li a:hover {
  color: rgba(49, 49, 49, .97);
}

.team-member figure img {
  -webkit-transform: scale(1) rotate(0) translateY(0);
  -moz-transform: scale(1) rotate(0) translateY(0);
  -o-transform: scale(1) rotate(0) translateY(0);
  -ms-transform: scale(1) rotate(0) translateY(0);
  transform: scale(1) rotate(0) translateY(0);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.team-member figure:hover img {
  -webkit-transform: scale(1.1) rotate(1deg) translateY(12px);
  -moz-transform: scale(1.1) rotate(1deg) translateY(12px);
  -o-transform: scale(1.1) rotate(1deg) translateY(12px);
  -ms-transform: scale(1.1) rotate(1deg) translateY(12px);
  transform: scale(1.1) rotate(1deg) translateY(12px);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}





.footer {
  width: 100%;
  padding: 45px 0;
background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
}


.social {
  border-top: 1px solid rgba(255,255,255,0.2);
  margin-top: 48px;
  padding-top: 24px;
}
.social h2 {
  text-align: center;
  margin-bottom: 24px;
}
.social ul {
  width: 360px;
  margin: 0 auto;
}
.social li {
  display: inline-block;
}
.social a {
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 100%;
  width: 36px;
  height: 36px;
  display: block;
  text-align: center;
  margin: 0 6px;
}
.social a .title {
  display: none;
}
.social a svg {
  fill: #fff;
  width: 16px;
}
.social a:hover svg {
  fill: #bbb;
}
.social p {
  text-align: center;
  margin-top: 12px;
  color: #757575;

}

.footer h2{
  color: white;
}



.padd{
  padding-left: 20%;
  padding-right: 20%;
}

.hero {
    position:relative;
    background-color:#A0F9FF;
    height:400px !important;
    width:100% !important;
    background-image: url("https://www.telegraph.co.uk/content/dam/Travel/2019/February/Hadrian%27s-wall-iStock-871528622-xlarge.jpg");
}

.vl {

  border-left: 6px solid white;
  height: 100px;
}

.cen {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}

xmp{
  font-size: 550%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

}

.imageCenter{

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.hero2 {
  margin-top: -20px;
    position:relative;
background-color: white;
    width:100% !important;
    height:300px !important;
    }


.h1padd{
  padding-top: 3%;
  padding-left: 10%;
  padding-right: 10%;
}

.h1padd p{
  font-size: 150%;
}

.h1padd p::first-letter {
  font-size: 300%;

}
